@model IEnumerable<Modelo.Dominio.CategoriaDeQuarto>

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
            <h2>@ViewBag.Message</h2>
        </hgroup>
    </div>
</section>
}  

<ul>
@foreach (var item in Model) {
    <li>Categoria: @Html.DisplayFor(modelItem => item.Nome) - @Html.ActionLink("Ver quartos", "TodosOsQuartosDestaCategoria", new { id = item.Id })</li>
}
</ul>