<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<p>Sou Tiago Romero Garcia, 27 anos, casado, nasci em São Paulo (SP), hoje moro em Santa Luzia (MG).</p>
<p>Sou Gerente de Engenharia e Líder de equipe na Avenue Code no Brasil, em Belo Horizonte (MG), além de Engenheiro de Software especializado em Java e UI com 5 anos de experiência, e já trabalhei com desenvolvimento de software para e-commerce, sistemas ERP, redes sociais e comunicação com Smart Cards.</p>
<p>Graduei em Janeiro em 2009 em Ciência da Computação na UNIFEI, em Itajubá (MG). Desenvolvi trabalhos acadêmicos nas áreas de Estruturas de Dados, Algoritmos de Classificação e Pesquisa de Dados, Análise de Algoritmos, Computação Ubíqua e Engenharia de Software. Meu trabalho de conclusão de curso abordou Arquiteturas Orientadas a Serviço (SOA).</p>
<p>Desde Setembro de 2011 estou cursando especialização em Arquitetura de Sistemas Distribuídos na PUC Minas, câmpus São Gabriel, em Belo Horizonte (MG).</p>
<p>Possuo as certificações:</p>
<ul>
    <li>Oracle Certified Professional, Java EE 5 Web Component Developer</li>
    <li>Oracle Certified Professional, Java Programmer 5</li>
    <li>First Certificate of English (FCE)</li>
</ul>
<p>Sites:</p>
<ul>
    <li>Meu site pessoal - <a href="http://www.tgarcia.com.br/" target="_blank">www.tgarcia.com.br</a></li>
    <li>Meu blog - <a href="http://blog.pt.tgarcia.com.br/" target="_blank">blog.pt.tgarcia.com.br</a></li>
    <li>Meu currículo - <a href="http://www.tgarcia.com.br/curriculo" target="_blank">www.tgarcia.com.br/curriculo</a></li>
    <li>Sagas de Cíntia e Tiago - <a href="http://sagasdecintiago.wordpress.com/" target="_blank">sagasdecintiago.wordpress.com</a></li>
</ul>
<p>Contato: <a href="mailto:contato@tgarcia.com.br">contato@tgarcia.com.br</a> ou <a href="http://www.tgarcia.com.br/contato" target="_blank">www.tgarcia.com.br/contato</a></p>