@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Erro";
}

<hgroup class="title">
    <h1 class="error">Erro.</h1>
    <h2 class="error">Um erro ocorreu quando processando sua requisição. Favor tentar novamente.</h2>
</hgroup>
